#full{
  /* background: linear-gradient(113.5deg, rgb(234, 234, 234) 22.3%, rgb(201, 234, 211) 56.6%, rgb(255, 180, 189) 90.9%); */
  background-image: url('./BackGroundImage/peakpx.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vb;
}

#body{
  
  display: flex;
  margin: wrap;
  align-items: center;
  justify-content: center;
}
.body{
  color: wheat;
  margin-top: 20vh;
  border: solid;
  display: flex;
  margin: wrap;
  align-items: center;
  justify-content: center;
  width: 20%;
}
.fa-2xl {
    font-size: 4em;
    color: wheat;
}

#dices{
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    height: 10vh; /* Adjust as needed */
}

#button{
    font-size: 18px;
    width: 120px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
    margin: 10px; /* Optional: Adjust margin as needed */
    background-color: wheat;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#dice1, #dice2, #dice1roll, #dice2roll{
    margin: 5px;
    size: 100px;

  
}

@keyframes rollAnimation {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(180deg);
    }
    50% {
      transform: rotate(360deg);
    }
    75% {
      transform: rotate(540deg);
    }
    100% {
      transform: rotate(720deg);
    }
  }
  

  #dice1roll,#dice2roll {
    animation: rollAnimation 2s ease-in-out;
    transform: rotate(720deg);
  }