nav{
    margin: wrap;
    display: flex; /* Use flexbox to control the layout */
  flex-wrap: wrap; /* Allow the container to wrap its flex items onto multiple lines */
}

.buttonPractice,.rollDiceApp{
    margin: 1px;
    padding: 1%;
    border: solid;
    border-color: black;
    background-color: wheat;
    color: black;
    border: none;
    border-radius: 5px;
}
.buttonPractice:hover,.rollDiceApp:hover{
    background-color: grey;
    color: black;
}